.card {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #000;
    max-width: 350px;
    margin: 5px auto;
    padding: 5px 5px; 
    border-radius: 5px;
}

.card img{
    width: 50px;
    display: flex;
    border-radius: 2px;
}

.card p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.card p:hover {
    color: #212190;
}